{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
        <div>
            <h2>Login / Register</h2>
        </div>
      <img src="{% static 'images/mobile.png' %}" id="icon" alt="User Icon" width="150"/>
    </div>
    <form action="." method="post">
        {% csrf_token %}
      <input type="text"  required class="fadeIn second" name="mobile" placeholder="Enter Mobile">
      <input type="submit" class="fadeIn fourth" value="Submit">
    </form>

  </div>
</div>
{% endblock %}