{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
        <div>
            <h1>Login / Register</h1>
        </div>
      <img src="{% static 'images/mobile.png' %}" id="icon" alt="User Icon" width="150"/>
    </div>
    <form action="." method="post">
      <input type="text" id="login" required class="fadeIn second" name="mobile" placeholder="Enter Mobile">
      <input type="submit" class="fadeIn fourth" value="Login / Register">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="#">Change Mobile</a>
    </div>
  </div>
</div>
{% endblock %}