{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
        <div>
            <h2>Login / Register</h2>
        </div>
      <img src="{% static 'images/otp.png' %}" id="icon" alt="User Icon" width="150"/>
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <input type="text" value="{{ mobile }}" readonly disabled class="fadeIn second" name="mobile" >
        <input type="text"  required class="fadeIn second" name="otp"  placeholder="Enter OTP">
        <input type="submit" class="fadeIn fourth" value="Check OTP">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="#">Change Mobile</a>
    </div>
  </div>
</div>
{% endblock %}